@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&family=Source+Sans+Pro&display=swap');
.logo {
  font-size: 15px;
  color: rgb(241, 232, 221);
  font-family: "Lobster", cursive;
}
header {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #791029;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

a {
  color: rgb(241, 232, 221);
  text-decoration: none;
   transition: .3s;
}

a:hover{
	color: rgb(219, 191, 158);
}


p {
  color: #791029;
  margin: 50px 100px;
  font-size: 17px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

section {
  background: linear-gradient(#e8f7fe, #ade1fc);
}

article {
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.container {
  padding: 1rem 3rem;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  filter: saturate(1.4);
}

.container h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 20px 0;
  text-align: center;
  color: #791029;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.arrow {
  text-align: center;
  font-size: 50px;
  color: #791029;
  margin-bottom: 40px;
}

.button {
  display: block;
  width: 30%;
  margin: auto;
  margin-bottom: 90px;
  font-size: 30px;
  background: #791029;
  color:rgb(241, 232, 221) ;
  padding: 10px 30px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: .3s;
}

.button:hover{
  background-color: #480d1a;
}

@media (max-width: 858px) {
  .container {
    padding: 1rem 1.5rem;
  }
  
  .container h1 {
    font-size: 30px;
    margin: 20px 0 0 0;
  }

  .container p {
    margin: 40px 0;
  }

  .container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 5px 5px 5px 0px rgba(155, 155, 155, 0.9);
    filter: saturate(1.4);
  }

  .button {
    font-size: 20px;
    width: 90%;
  }

  header {
    padding: 20px;
  }
}
