@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  font-size: 15px;
  color: rgb(241, 232, 221);
  font-family: "Lobster", cursive;
}
.navbar {
  align-items: center;
  padding: 3%;
  background-color: #791029;
}

a {
  color: #791029;
}

p {
  color: #791029;
  margin: 50px 100px;
  font-size: 17px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

section {
  background: linear-gradient(#e8f7fe, #ade1fc);
}

article {
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.content {
  padding: 80px;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  box-shadow: 5px 5px 5px 0px rgba(155, 155, 155, 0.9);
  filter: saturate(1.4);
}

.content h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 20px 0;
  text-align: center;
  color: #791029;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.arrow {
  text-align: center;
  font-size: 50px;
  color: #791029;
}

.button {
  display: block;
  font-size: 30px;
  background: rgb(241, 232, 221);
  color: #791029;
  padding: 20px 30px;
  border-radius: 30px;
  text-align: center;
  margin: 20px 500px;
  border: 0.2em solid #791029;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
